<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key ="CSV_FOLDER" value="C:\Users\caiomsilveira\Desktop\TVO\TVO DataMigration\2\csv"/>
    <add key ="CSV_SEPARATOR" value=","/>
    <add key ="CONNECTION_STRING" value="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=temp_import;Data Source=WINDOWS-AA559AJ\SQLEXPRESS"/>
  </appSettings>
</configuration>